.header2
    .header2_wrap
        .header2__logo
            img(src="" , alt="")
        form(action="").header2__form_search
            input(type="text", placeholder='Что будем искать').header2__input_search
            button.header2__button_search Найти
        .header2__div_link
            a.header2__a_map(href="#") Карта проезда
            a.header2__a_history(href="#") История заказов
            a.header2__a_basket(href="#") Корзина
