.header1
    .header1__wrap
        .header1__soc_net
            include soc_net
        .header1__contacts
            a(href="#").header1__contacts_map ул. Маяковская 6, офис 17
            a(href="tel:+79211231213").header1__contacts_tel +7 (921) 123-12-13
